</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <%=year%></p>
   <!-- OR instead of var year u can directly put 'new Date().getFullYear()' INSIDE the ejs output tags -->
</footer>
<script>
  function myFunction() {
   var txtArea = document.getElementById("myarea");
   txtArea.classList.toggle('hideTxtArea'); 
  }
</script>
</body>

</html>